#css {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}

#small {
  display: none;
}

#large {
  display: none;
}

img {
  margin-top: 30px;
}

.title-image {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

h1  {
  text-align: center;
}

body {
  background-color: #229bc3;
}
