#css {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}

#small {
  display: none;
}

#large {
  display: none;
}

img {
  margin-top: 30px;
}
